
<p id="notice"><%= notice %></p>




<p>This job was submitted <strong><%= time_ago_in_words(@job.created_at) %></strong> ago, and was last updated <strong><%= time_ago_in_words(@job.updated_at) %></strong> ago.</p>


<p>
	<!-- ><strong>Title:</strong> --> 
	<h1><%= @job.title %></h1>
</p>

<!-- 
<p>
	<strong>Job User Id:</strong> 
	<%= @job.user.id %>
	
</p>
--> 


<p>
	<strong>Creative Brief</strong>
<%= simple_format @job.body %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>

<hr/>
<p>Notes On This job </p>
<ul>
	<% @job.notes.each do |note| %>
	<li><%= note.created_at.strftime('%m/%d/%Y') %> - 
		<%= note.body %> - <%= link_to "edit", edit_note_path(note) %>
		<% end %></li>
	</ul>

	<%#= render :partial=>"new_seat", :locals=>{:seat=>Seat.new(:flight_id=>@flight.id)} %>
	<%#= render :partial=>"new_note", :locals=>{:note=>Note.new(:noteable_type=>"job", :noteable_id=>3 )} %>

	<!-- Use build here, due to the polymorphic association --> 
<%= render :partial=>"new_note", :locals=>{:note=>@job.notes.build} %>

	<hr/>
	<p>Add a Task</p>
	<ul>
		<% @job.tasks.each do |task| %>
		<li><%= task.created_at.strftime('%m/%d/%Y') %> - 
			<%= task.title %> - <%= link_to "edit", edit_task_path(task) %>
			<% end %></li>
		</ul>

		<%#= render :partial=>"new_seat", :locals=>{:seat=>Seat.new(:flight_id=>@flight.id)} %>
		<%#= render :partial=>"new_note", :locals=>{:note=>Note.new(:noteable_type=>"job", :noteable_id=>3 )} %>

		<!-- Use Task.new here, due to the has_many association (I think) --> 
	
	<%= render :partial=>"new_task", :locals=>{:task=>Task.new(:job_id=>@job.id)} %>

